In [1]:
#Dependencies
import pandas as pd

In [2]:
#Get data from csvs
neighborhoods = "Resources/SFZ.csv"
parks = "Resources/SF_Park_Scores.csv"

In [3]:
#Create neighborhoods dataframe
nbh_df = pd.read_csv(neighborhoods)
nbh_df

    Zipcode       Neighborhood  Unnamed: 2  Unnamed: 3
0     94102       Hayes Valley         NaN         NaN
1     94102         Tenderloin         NaN         NaN
2     94102    North of Market         NaN         NaN
3     94103    South of Market         NaN         NaN
4     94107       Potrero Hill         NaN         NaN
..      ...                ...         ...         ...
61    94132       Lake Merced          NaN         NaN
62    94133        North Beach         NaN         NaN
63    94133          Chinatown         NaN         NaN
64    94134  Visitacion Valley         NaN         NaN
65    94134          Sunnydale         NaN         NaN

[66 rows x 4 columns]

In [4]:
#Clean columns
del nbh_df['Unnamed: 2']
del nbh_df['Unnamed: 3']

nbh_df = nbh_df.drop_duplicates()
nbh_df.head()

   Zipcode     Neighborhood
0    94102     Hayes Valley
1    94102       Tenderloin
2    94102  North of Market
3    94103  South of Market
4    94107     Potrero Hill

In [5]:
#Create parks dataframe
parks_df = pd.read_csv(parks)
parks_df.head()

,ParkID,PSA,Park,FQ,Score,Facility Type,Facility Name,Address,State,Zipcode,Floor Count,Square Feet,Perimeter Length,Acres,Longitude,Latitude
0,86,PSA4,Carl Larsen Park,FY05Q3,0.795,Basketball Court,Ocean View Basketball Courts,Capitol & Montana St,CA,94112.0,NaN,5572.020314,311.982228,0.127916,-122.456708,37.716335
1,13,PSA4,Junipero Serra Playground,FY05Q3,0.957,Ball Field,Glen ball fields,Diamond & Farnum Street,CA,94131.0,NaN,124520.486259,1891.675445,2.858608,-122.440592,37.736008
2,9,PSA4,Rolph Nicol Playground,FY05Q3,0.864,Dog Play Area,Douglass dog play area,26th & Douglass Street,CA,94114.0,NaN,70655.337234,1153.019646,1.622030,-122.438895,37.746741
3,117,PSA2,Alamo Square,FY05Q4,0.857,Restroom,Gilman Bathrooms,Gilman Ave & Griffith,CA,94124.0,NaN,378.668603,94.257319,0.008693,-122.388772,37.717179
4,60,PSA6,Jose Coronado Playground,FY05Q4,0.859,Basketball Court,GGP1 Panhandle Basketball Courts,Stanyan & Great Hwy,CA,94117.0,NaN,4645.553645,279.465313,0.106648,-122.448380,37.772304

In [6]:
#Clean Columns
del parks_df['PSA']
del parks_df['FQ']
del parks_df['Floor Count']



    #Dropped values without zipcode/lat/long
parks_df = parks_df.drop_duplicates().dropna()


parks_df["Zipcode"] = parks_df["Zipcode"].astype(int)
parks_df["Square Feet"] = parks_df["Square Feet"].astype(float).map("{:,.2f}".format)
parks_df["Perimeter Length"] = parks_df["Perimeter Length"].astype(float).map("{:,.2f}".format)
parks_df["Acres"] = parks_df["Acres"].astype(float).map("{:,.2f}".format)

parks_df = parks_df.rename(columns={"Perimeter Length":"Perimeter Length(ft)"})

parks_df.head()

,ParkID,Park,Score,Facility Type,Facility Name,Address,State,Zipcode,Square Feet,Perimeter Length(ft),Acres,Longitude,Latitude
0,86,Carl Larsen Park,0.795,Basketball Court,Ocean View Basketball Courts,Capitol & Montana St,CA,94112,"5,572.02",311.98,0.13,-122.456708,37.716335
1,13,Junipero Serra Playground,0.957,Ball Field,Glen ball fields,Diamond & Farnum Street,CA,94131,"124,520.49","1,891.68",2.86,-122.440592,37.736008
2,9,Rolph Nicol Playground,0.864,Dog Play Area,Douglass dog play area,26th & Douglass Street,CA,94114,"70,655.34","1,153.02",1.62,-122.438895,37.746741
3,117,Alamo Square,0.857,Restroom,Gilman Bathrooms,Gilman Ave & Griffith,CA,94124,378.67,94.26,0.01,-122.388772,37.717179
4,60,Jose Coronado Playground,0.859,Basketball Court,GGP1 Panhandle Basketball Courts,Stanyan & Great Hwy,CA,94117,"4,645.55",279.47,0.11,-122.448380,37.772304

In [7]:
#Save to new csv file
nbh_df.to_csv("Output/Neighborhoods.csv", index=False, header=True)
parks_df.to_csv("Output/Parks.csv", index=False, header=True)